.arrow-figure {
    color: white;  
    width: 35px;
    height: 25px;
}

.arrow-figure--down {
    transform: rotate(90deg);
}

.down {
    transform: rotate(90deg);
    animation: rotation 0.25s forwards;
}

.right {
    transform: rotate(90deg);
    animation: rotation-back 0.25s forwards;
}

.dropdowns-large {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown {
    width: 582px;
    margin-top: 31px;
}

.dropdown-large {
    width: 1024px;
}

.dropdown-open {
    color: white;
    font-size: 18px;
    padding: 0px 20px;
    //width: calc(582px - 40px);
    height: calc(52px - 0px);
    border-radius: 10px;
    background-color: #ff6060;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
  }

  .dropdown-content {
    border-radius: 10px;
    background: #F7F7F7;
    color: #ff6060;
    font-weight: 400;
    font-size: 18px;
    line-height: 25.67px;
    padding: 40px 20px 23px 20px;
    width: calc(100% - 40px);
    margin-top: -20px;
    z-index: 2;
    text-align: left;
  }

  .dropdown-content ul {
    padding: 0;
  }

  .dropdown-content li {
    font-size: 18px;
    list-style-type: none;
    text-align: left;
    font-weight: 400;
  }


  

  .dropdown-title {
    font-size: 18px;
    font-weight: 500;
    padding: 0;
    margin: 0;
  }
  
  .dropdown-open-description {
    height: 249px;
    width: 582px;
    border-radius: 10px;
    background: #F7F7F7;
  }
  
  .dropdownlarge-close {
    background: #FF6060;
    border-radius: 5px;
    width: 1023px;
    height: 47px;
  }
  
  .dropdownlarge {
    background: #F7F7F7;
    border-radius: 5px;
  }


@keyframes rotation {
    from {
        transform: rotate(90deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@keyframes rotation-back {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(90deg);
    }
    
}


@media screen and (max-width: 900px) {
    .dropdowns {
        margin-top: 16px;
        flex-wrap: wrap;
        row-gap: 20px;
    }

    .dropdown {
        margin-top: 0;
    }

    .dropdown-large {
        width: calc(100% - 42px);
    }

    .dropdown-open {
        border-radius: 5px;
        height: calc(30px - 10px);
        padding: 5px 10px;
    }

    .dropdown-title {
        font-size: 13px;
    }

    .arrow-figure {
        width: 18px;
        height: 18px;
    }

    .dropdown-content {
        width: calc(100% - 20px);
        padding: 37px 10px 10px 10px;
        border-radius: 5px;
    }

    .dropdown-content ul {
        margin-top: 0px;
    }

    .dropdown-content, .dropdown-content li {
        
        font-size: 12px;        
        font-weight: 400;
        line-height: 17px;
    }
}