.Footer {
    background-color: black;
    color: #fff;
    position: static;
    bottom: 0;
    width: 100%;
}

.Footer-logo {
    filter: contrast(1500%) grayscale(100%) invert(100%) brightness(1000%);
    width: 15%;
}